
Music Composition Scores/raindrops/layered sounds/rain 1.wav
Music Composition Scores/raindrops/layered sounds/rain 2.wav
Music Composition Scores/raindrops/Raindrops_full_v1.mp3
Music Composition Scores/materials/raindrops/layered sounds/rain 1.wav
*.wav
other documentation/photos/Screenshot 2023-04-06 at 8.04.19 AM.png
other documentation/photos/Screenshot 2023-04-06 at 9.55.02 AM.png
recital poster.pdf
other documentation/photos/Screenshot 2023-04-06 at 9.55.12 AM.png
V_1.3/PCB Diagrams/fsr_bb.png
V_1.3/PCB Diagrams/fsr.fzz
